    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: #fdfdfb;
      color: #1a1a1a;
      line-height: 1.6;
    }
    header {
      background-color: #f2f2f2;
      padding: 2rem;
      text-align: center;
    }
    header h1 {
      margin: 0;
      font-size: 2.5rem;
    }
    main {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }
    section {
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    footer {
      background-color: #f2f2f2;
      text-align: center;
      padding: 1rem;
      font-size: 0.9rem;
    }

    .realisation {
      border-left: 4px solid #888;
      padding-left: 1rem;
      margin-bottom: 2rem;
      transition: border-left-width 0.3 ease;
      transition: box-shadow 0.3 ease;
    }
    .realisation a {
      color: #0066cc;
      text-decoration: none;
    }
    .realisation a:hover {
      text-decoration: underline;
    }

    .realisation:hover{
        border-left-width: 8px;
        box-shadow: 4px 0 0 0 #888;
    }